@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

.App {
  padding: 1em;
}

body {
  background-color: #023047;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  color: #023047;
  background-color: #fb8500;
}

/* typography */

html {
  font-family: "helvetica neue", sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt";
  font-size: 20px;
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 0.5px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: #023047;
  font-weight: 400;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

button {
  width: 75px;
  background-color: #219ebc;
  color: #023047;
  font-family: "helvetica neue", sans-serif;
  font-size: 16px;
}

/* Column Size for thead */

/* Column size for tbody */
